.icon-circle {
	width: 35px; 
	height: 35px; 
	line-height: 35px;
}

.backend-sidebar {
	width: 20%; 
	min-height: 100vh; 
	overflow-y: scroll;
}

.backend-sidebar ul {
    padding-top: 80px;
}

.backend-area {
	width: 80%;
	padding-top: 95px;
}

.backend-search-input {
	border-top-right-radius: 0 !important; 
	border-bottom-right-radius: 0 !important;
}

.backend-search-button {
	border-top-left-radius: 0 !important; 
	border-bottom-left-radius: 0 !important;
	height: 45px;
}

.backend-search-button:hover {
	opacity: 0.5;
}

.actions-icon {
	width: 15px;
	height: 15px;
	line-height: 15px;
}

.icon-wrap {
	width: 48px; 
	height: 48px; 
	line-height: 48px;
}

.panel-icons {
	width: 45px; 
	height: 45px;
	line-height: 45px;
}

@media (max-width: 768px) { 
	.backend-sidebar {
		display: none !important;
	}

	.backend-area {
		width: 100%;
	}
}
